<tr>
    <td>1</td>
    <td>Jhon</td>
    <td>example@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <th>
        <a href="/update-user" class="btn border-shadow update">
            <span class="text-gradient"><i class="fa-solid fa-pen-to-square"></i></span>
        </a>

        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fa-solid fa-trash"></i></span>
        </a>
    </th>
</tr>